In [60]:
import pandas as pd

In [61]:
df = pd.read_csv("data.csv")

In [62]:
df.head()

,City,City2,Average_Fare,Distance,Average_weekly_passengers,market_leading_airline,market_share,Average_fare,Low_price_airline,market_share.1,price
0,CAK,ATL,114.47,528,424.56,FL,70.19,111.03,FL,70.19,111.03
1,CAK,MCO,122.47,860,276.84,FL,75.10,123.09,DL,17.23,118.94
2,ALB,ATL,214.42,852,215.76,DL,78.89,223.98,CO,2.77,167.12
3,ALB,BWI,69.40,288,606.84,WN,96.97,68.86,WN,96.97,68.86
4,ALB,ORD,158.13,723,313.04,UA,39.79,161.36,WN,15.34,145.42

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
City                         1000 non-null object
City2                        1000 non-null object
Average_Fare                 1000 non-null float64
Distance                     1000 non-null int64
Average_weekly_passengers    1000 non-null float64
market_leading_airline       1000 non-null object
market_share                 1000 non-null float64
Average_fare                 1000 non-null float64
Low_price_airline            1000 non-null object
market_share.1               1000 non-null float64
price                        1000 non-null float64
dtypes: float64(6), int64(1), object(4)
memory usage: 86.0+ KB

In [64]:
df.describe()

,Average_Fare,Distance,Average_weekly_passengers,market_share,Average_fare,market_share.1,price
count,1000.00000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000
mean,163.37542,1056.973000,672.279140,60.128590,166.64756,34.551480,143.193090
std,55.36547,643.203251,766.519254,19.367779,62.66014,27.096999,47.229184
min,50.52000,108.000000,181.410000,17.680000,50.52000,1.060000,49.610000
25%,125.97500,553.500000,257.197500,46.510000,124.08500,13.195000,113.767500
50%,161.34500,919.000000,404.780000,59.240000,161.40000,26.140000,137.825000
75%,197.39250,1452.500000,769.912500,73.510000,202.97750,52.972500,168.530000
max,401.23000,2724.000000,8950.760000,100.000000,490.03000,100.000000,387.940000

In [65]:
AF_l = df['Average_Fare'].quantile(.25)*1.5
AF_l

188.96249999999998

In [66]:
AF_o = df['Average_Fare'].quantile(.75)*1.5
AF_o

296.08875

In [67]:
dis_l = df['Distance'].quantile(.25)*1.5
dis_l

830.25

In [68]:
dis_o = df['Distance'].quantile(.75)*1.5
dis_o

2178.75

In [69]:

awp_l = df['Average_weekly_passengers'].quantile(.25)*1.5
awp_l

385.79625

In [70]:
awp_o = df['Average_weekly_passengers'].quantile(.75)*1.5
awp_o

1154.8687499999999

In [71]:

ms_l = df['market_share'].quantile(.25)*1.5
ms_l

69.765

In [72]:
ms_o = df['market_share'].quantile(.75)*1.5
ms_o

110.26500000000001

In [73]:

pr_l = df['price'].quantile(.25)*1.5
pr_l

170.65125

In [74]:
pr_o = df['price'].quantile(.75)*1.5
pr_o

252.79500000000004

In [57]:
#df.drop(df[df['Average_Fare'] < AF_l].index, inplace = True)

In [31]:
#df.drop(df[df['Average_Fare'] > AF_o].index, inplace = True)

In [75]:
df.drop(df[df['Distance'] < dis_l].index, inplace = True)

In [77]:
df.drop(df[df['Distance'] > dis_o].index, inplace = True)

In [79]:

df.drop(df[df['Average_weekly_passengers'] < awp_l].index, inplace = True)

In [80]:
df.drop(df[df['Average_weekly_passengers'] > awp_o].index, inplace = True)

In [82]:
df.drop(df[df['market_share'] < ms_l].index, inplace = True)

In [83]:
df.drop(df[df['market_share'] > ms_o].index, inplace = True)

In [85]:
df.drop(df[df['price'] < pr_l].index, inplace = True)

In [86]:
df.drop(df[df['price'] > pr_o].index, inplace = True)

In [87]:
df.describe()

,Average_Fare,Distance,Average_weekly_passengers,market_share,Average_fare,market_share.1,price
count,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000
mean,220.396667,1350.166667,586.518333,79.706667,226.321667,23.231667,189.753333
std,13.067604,227.684358,169.453864,9.409845,15.887107,36.802772,13.618137
min,204.220000,1107.000000,431.410000,72.550000,202.790000,3.010000,175.960000
25%,212.937500,1145.750000,485.895000,74.940000,220.515000,5.980000,181.452500
50%,220.570000,1345.500000,512.170000,75.820000,225.630000,10.840000,184.075000
75%,223.275000,1559.500000,661.872500,80.045000,232.155000,12.002500,198.682500
max,242.450000,1593.000000,874.450000,97.950000,250.740000,97.950000,210.280000

In [59]:
df.head()

,City,City2,Average_Fare,Distance,Average_weekly_passengers,market_leading_airline,market_share,Average_fare,Low_price_airline,market_share.1,price
2,ALB,ATL,214.42,852,215.76,DL,78.89,223.98,CO,2.77,167.12
7,ALB,LAX,190.73,2467,191.95,DL,17.89,205.06,US,16.59,174.00
10,ABQ,ATL,212.49,1269,198.80,DL,68.39,226.79,AA,11.91,200.93
19,ABQ,LGA,233.05,1825,344.45,AA,31.33,233.26,DL,19.50,222.08
27,ABQ,IAD,227.93,1650,301.84,AA,46.59,213.13,AA,46.59,213.13