In [11]:
import pandas as pd
import numpy as np

fb = pd.read_csv('Laliga.csv')

In [12]:
fb.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

In [13]:
fb.tail()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
56,57,Xerez,1,34,38,8,10,20,38,66,-,-,-,-,-,-,-,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,-,-,-,-,-,-,-,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,-,-,-,-,-,-,-,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,-,-,-,-,-,-,-,1955-56,1955-56,15
60,61,Girona,1,-,-,-,-,-,-,-,-,-,-,-,-,-,-,2017-18,2017-18,9

In [41]:
fb.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
dtype: object

In [53]:
fb['Pos']=fb['Pos'].replace('-', 0)
fb['Seasons']=fb['Seasons'].replace('-', 0)
fb['Points']=fb['Points'].replace('-', 0)
fb['GamesPlayed']=fb['GamesPlayed'].replace('-', 0)
fb['GamesWon']=fb['GamesWon'].replace('-', 0)
fb['GamesDrawn']=fb['GamesDrawn'].replace('-', 0)
fb['GamesLost']=fb['GamesLost'].replace('-', 0)
fb['GoalsFor']=fb['GoalsFor'].replace('-', 0)
fb['GoalsAgainst']=fb['GoalsAgainst'].replace('-', 0)
fb['Champion']=fb['Champion'].replace('-', 0)
fb['Runner-up']=fb['Runner-up'].replace('-', 0)
fb['Third']=fb['Third'].replace('-', 0)
fb['Fourth']=fb['Fourth'].replace('-', 0)
fb['Fifth']=fb['Fifth'].replace('-', 0)
fb['Sixth']=fb['Sixth'].replace('-', 0)
fb['T']=fb['T'].replace('-', 0)
fb['Debut']=fb['Debut'].replace('-', 0)
fb['Since/LastApp']=fb['Since/LastApp'].replace('-', 0)
fb['BestPosition']=fb['BestPosition'].replace('-', 0)

In [54]:
fb.tail()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
56,57,Xerez,1,34,38,8,10,20,38,66,0,0,0,0,0,0,0,2009-10,2009-10,20
57,58,Condal,1,22,30,7,8,15,37,57,0,0,0,0,0,0,0,1956-57,1956-57,16
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,0,0,0,0,0,0,0,1951-52,1951-52,16
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,0,0,0,0,0,0,0,1955-56,1955-56,15
60,61,Girona,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2017-18,2017-18,9

In [85]:
fb['Debut1']= fb['Debut'].str.slice(0,4)
fb['Debut2']=fb['Debut'].str.slice(0,2)+fb['Debut'].str.slice(5,7)

In [86]:
fb.tail()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut1,Debut2
56,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009-10,2009-10,20,2009,2010
57,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956-57,1956-57,16,1956,1957
58,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951-52,1951-52,16,1951,1952
59,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955-56,1955-56,15,1955,1956
60,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017-18,2017-18,9,2017,2018

In [87]:
fb.dtypes

Pos               int64
Team             object
Seasons           int64
Points           object
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor         object
GoalsAgainst     object
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition      int64
Debut1           object
Debut2           object
dtype: object

In [149]:
fb['Debut1'] = pd.to_numeric(fb['Debut1'])
fb['Debut2']=pd.to_numeric(fb['Debut2'])
fb['Points']=pd.to_numeric(fb['Points'])
fb['GoalsFor']=pd.to_numeric(fb['GoalsFor'])
fb['GoalsAgainst']=pd.to_numeric(fb['GoalsAgainst'])
fb['GamesWon']=pd.to_numeric(fb['GamesWon'])
fb['GamesPlayed']=pd.to_numeric(fb['GamesPlayed'])

In [150]:
fb.dtypes

Pos                  int64
Team                object
Seasons              int64
Points               int64
GamesPlayed          int64
GamesWon             int64
GamesDrawn          object
GamesLost           object
GoalsFor             int64
GoalsAgainst         int64
Champion            object
Runner-up           object
Third               object
Fourth              object
Fifth               object
Sixth               object
T                   object
Debut               object
Since/LastApp       object
BestPosition         int64
Debut1               int64
Debut2               int64
Rank_points        float64
Goal_diff_count      int64
dtype: object

In [104]:
fb[(fb['Debut1'] >= 1930) & (fb['Debut1'] <= 1980 ) & (fb['Debut2'] >= 1930) & (fb['Debut2'] <= 1980 )].Team

3                Valencia
5                 Sevilla
8                Zaragoza
9              Real Betis
10    Deportivo La Coruna
11             Celta Vigo
12             Valladolid
14         Sporting Gijon
15                Osasuna
16                 Malaga
17                 Oviedo
18               Mallorca
19             Las Palmas
21                Granada
22         Rayo Vallecano
23                  Elche
25               Hercules
26               Tenerife
27                 Murcia
28                 Alaves
29                Levante
30              Salamanca
31               Sabadell
32                  Cadiz
34              Castellon
37                Cordoba
39             Recreativo
40              Burgos CF
41             Pontevedra
46              Gimnastic
49               Alcoyano
50                   Jaen
52             AD Almeria
54                 Lleida
57                 Condal
58        Atletico Tetuan
59       Cultural Leonesa
Name: Team, dtype: object

In [110]:
fb['Rank_points'] = fb['Points'].rank()

In [112]:
fb.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut1,Debut2,Rank_points
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,3,4,79,1929,1929,1,1929,19,61.0
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,4,6,83,1929,1929,1,1929,19,60.0
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,9,7,6,56,1929,2002-03,1,1929,19,59.0
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,11,10,7,50,1931-32,1987-88,1,1931,1932,58.0
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,5,8,10,49,1929,1929,1,1929,19,57.0

In [114]:
fb[(fb['Rank_points'] >= 1) & (fb['Rank_points'] <= 5 )].Team

56               Xerez
57              Condal
58     Atletico Tetuan
59    Cultural Leonesa
60              Girona
Name: Team, dtype: object

In [141]:
def Goal_diff_count(GoalsFor,GoalsAgainst) :
    return GoalsFor-GoalsAgainst

In [145]:
fb['Goal_diff_count'] = Goal_diff_count(fb['GoalsFor'],fb['GoalsAgainst'])

In [166]:
fb[fb['Goal_diff_count'] == fb.Goal_diff_count.max()].Team

0    Real Madrid
Name: Team, dtype: object

In [167]:
fb[fb['Goal_diff_count'] == fb.Goal_diff_count.min()].Team

13    Racing Santander
Name: Team, dtype: object

In [146]:
fb.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Debut1,Debut2,Rank_points,Goal_diff_count
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,3,4,79,1929,1929,1,1929,19,61.0,2807
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,4,6,83,1929,1929,1,1929,19,60.0,2786
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,7,6,56,1929,2002-03,1,1929,19,59.0,1225
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,7,50,1931-32,1987-88,1,1931,1932,58.0,929
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,8,10,49,1929,1929,1,1929,19,57.0,931

In [151]:
fb['Winning_Percentage'] = (fb['GamesWon']/fb['GamesPlayed'])*100

In [158]:
fb['Winning_Percentage']

0     59.630702
1     57.241130
2     47.475134
3     44.557057
4     43.772629
5     41.112957
6     36.100533
7     37.532580
8     35.146022
9     35.069444
10    36.797386
11    34.511190
12    31.582538
13    31.722689
14    32.304527
15    32.321700
16    31.075697
17    34.228188
18    33.704453
19    33.485401
20    41.176471
21    29.380054
22    28.987730
23    29.941003
24    32.236842
25    29.299363
26    31.376518
27    24.744027
28    32.894737
29    28.109453
        ...
31    30.281690
32    23.214286
33    27.745665
34    30.838323
35    28.148148
36    27.192982
37    29.078014
38    32.500000
39    26.881720
40    28.921569
41    29.444444
42    24.342105
43    30.701754
44    33.076923
45    22.807018
46    29.310345
47    25.000000
48    23.750000
49    27.777778
50    32.222222
51    29.166667
52    25.000000
53    33.333333
54    19.117647
55    21.052632
56    21.052632
57    23.333333
58    23.333333
59    16.666667
60          NaN
Name: Winning_Percentage, Length: 61, dtype: float64

In [160]:
fb['Winning_Percentage'].fillna(0,inplace = True)

In [161]:
fb['Winning_Percentage']

0     59.630702
1     57.241130
2     47.475134
3     44.557057
4     43.772629
5     41.112957
6     36.100533
7     37.532580
8     35.146022
9     35.069444
10    36.797386
11    34.511190
12    31.582538
13    31.722689
14    32.304527
15    32.321700
16    31.075697
17    34.228188
18    33.704453
19    33.485401
20    41.176471
21    29.380054
22    28.987730
23    29.941003
24    32.236842
25    29.299363
26    31.376518
27    24.744027
28    32.894737
29    28.109453
        ...
31    30.281690
32    23.214286
33    27.745665
34    30.838323
35    28.148148
36    27.192982
37    29.078014
38    32.500000
39    26.881720
40    28.921569
41    29.444444
42    24.342105
43    30.701754
44    33.076923
45    22.807018
46    29.310345
47    25.000000
48    23.750000
49    27.777778
50    32.222222
51    29.166667
52    25.000000
53    33.333333
54    19.117647
55    21.052632
56    21.052632
57    23.333333
58    23.333333
59    16.666667
60     0.000000
Name: Winning_Percentage, Length: 61, dtype: float64

In [162]:
fb['Rank_wp'] = fb['Winning_Percentage'].rank()

In [165]:
fb[(fb['Rank_wp'] >=1) & (fb['Rank_wp'] <=5)].Team

54              Lleida
55             Leganes
56               Xerez
59    Cultural Leonesa
60              Girona
Name: Team, dtype: object

In [163]:
fb.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,T,Debut,Since/LastApp,BestPosition,Debut1,Debut2,Rank_points,Goal_diff_count,Winning_Percentage,Rank_wp
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,79,1929,1929,1,1929,19,61.0,2807,59.630702,61.0
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,83,1929,1929,1,1929,19,60.0,2786,57.241130,60.0
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,56,1929,2002-03,1,1929,19,59.0,1225,47.475134,59.0
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,50,1931-32,1987-88,1,1931,1932,58.0,929,44.557057,58.0
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,49,1929,1929,1,1929,19,57.0,931,43.772629,57.0

In [153]:
fb.groupby('BestPosition')['Points'].sum()

BestPosition
1     27933
2      6904
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
20       34
Name: Points, dtype: int64