In [5]:
import pandas as pd
import numpy as np

tt = pd.read_csv('titan.csv')

In [6]:
tt.head()

   SALES_PERSON  Old_Scheme  New_Scheme
0             1          57          62
1             2         103         122
2             3          59          54
3             4          75          82
4             5          84          84

In [7]:
tt.describe()

       SALES_PERSON  Old_Scheme  New_Scheme
count     30.000000   30.000000   30.000000
mean      15.500000   68.033333   72.033333
std        8.803408   20.455980   24.062395
min        1.000000   28.000000   32.000000
25%        8.250000   54.000000   55.000000
50%       15.500000   67.000000   74.000000
75%       22.750000   81.500000   85.750000
max       30.000000  110.000000  122.000000

In [8]:
tt['Old_Scheme'].mean()

68.03333333333333

In [9]:
tt['New_Scheme'].mean()

72.03333333333333

In [10]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp, wilcoxon
from statsmodels.stats.power import ttest_power
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro
from statsmodels.stats.power import ttest_power

In [11]:
t_statistic, p_value = ttest_ind(tt['Old_Scheme'], tt['New_Scheme'])
print(t_statistic, p_value)

-0.6937067608923764 0.49063515686248105

In [ ]:
## pvalue is >0.05 Hence we cannot reject the null hypothesis 
# old scheme and new scheme are significantaly same , which means they have same mean and we are 95% confident of that
#which also means that new_scheme has not significantly raised outputs

In [13]:
tt['Old_Scheme']-tt['New_Scheme']

0     -5
1    -19
2      5
3     -7
4      0
5    -13
6      3
7      6
8      6
9    -25
10   -17
11   -21
12   -21
13    14
14     7
15   -19
16     7
17    34
18     7
19   -13
20   -13
21    -9
22    11
23   -11
24   -18
25    19
26    -8
27     7
28    -9
29   -18
dtype: int64

In [14]:
t_statistic,p_value = ttest_1samp((tt['Old_Scheme']-tt['New_Scheme'])-50,0)

In [15]:
print(p_value)

4.3304329413665686e-19

In [19]:
import numpy as np
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro
from statsmodels.stats.power import ttest_power
(np.mean(tt['Old_Scheme']) - np.mean(tt['New_Scheme'])) / np.sqrt(((11-1)*np.var(tt['Old_Scheme'])+(11-1)*np.var(tt['New_Scheme'])) / 11+11-2)

-0.13441726595582315